@model PeluqueriaCanina.Models.Persona

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Persona</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dni)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dni)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        @* 👈 ACÁ METEMOS LA MAGIA PARA EL EMPLEADO *@
        @if (Model is PeluqueriaCanina.Models.Empleado empleado)
        {
            <dt class="col-sm-2">
                Puesto / Cargo
            </dt>
            <dd class="col-sm-10">
                @empleado.Puesto
            </dd>

            <dt class="col-sm-2">
                Especialidad
            </dt>
            <dd class="col-sm-10">
                @empleado.Especialidad.ToString()
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
@if (Model is PeluqueriaCanina.Models.Cliente cliente)
{
    <hr />
    <h3>Mascotas de este Cliente</h3>

    @if (cliente.Mascotas != null && cliente.Mascotas.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Tipo</th>
                    <th>Raza</th>
                    <th>Peso</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var mascota in cliente.Mascotas)
                {
                    <tr>
                        <td>@mascota.Nombre</td>
                        <td>@mascota.Edad</td>
                        <td>@mascota.Tipo</td>
                        <td>@mascota.Raza</td>
                        <td>@mascota.Peso kg</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="text-muted">Este cliente todavía no tiene mascotas registradas.</p>
    }
}