@model IEnumerable<PeluqueriaCanina.Models.Venta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetodoPago)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Fecha)
            </td>
                <td>
                    @(item.Cliente != null
                         ? $"{item.Cliente.Nombre} {item.Cliente.Apellido}"
                         : "Sin cliente")


            </td>
            <td>
                    @item.Detalle.Count producto(s)
            </td>
            <td>
                @Html.DisplayFor(model => item.Total)
            </td>
            <td>
                @Html.DisplayFor(model => item.MetodoPago)
            </td>
            <td>
                    <td>
                        @if (User.IsInRole("Empleado"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <text> | </text>
                        }

                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                        @if (User.IsInRole("Empleado"))
                        {
                            <text> | </text>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                    </td>
            </td>
        </tr>
}
    </tbody>
</table>
